body{
  background-image: url("../../../../assets/images/elvalle.jpg");
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: absolute;
  width: 100%;
}
.card{
  min-width: 285px;
  margin: 5% auto;
  width: 20%;
  text-align: center;
  border-radius: 20px;
}
#header{
  background-color: #b80e0c;
  color: white;
}
#body{
  border-radius: 2px;
  background-color: white;
  border-bottom-left-radius: 50px;
}
#logo{
  background-image: url("../../../../assets/images/logo_cuenca_m_1.png");
  background-size: cover;
  height: 104px;
}

strong{
  color: #ffa600;
}

/*////////////*/
.contenedor {
  border-radius: 0px 0px 5px 50px;
  min-width: 285px;
  height: 100%;
  max-height: 300px;
  width: 100%;
  background: #ffffff;
  position: relative;
  padding-bottom: 28%;
  margin: 0 auto;
}
.login {
  background: #ffffff;
  padding-left: 10%;
  padding-right: 5%;
  position: relative;
  margin: 0 auto;
  text-align: start;
}
.login h3{
  text-align: center;
}

.login input {
  display: block;
  width: 90%;
  padding: 15px 5px;
  margin-bottom: 2%;
  font-size: 16px;
  border: 1px solid #F2921D;
  transition: border-width 0.2s ease;
  border-radius: 4px;
  color: #ccc;
}
.login input + i.fa {
  color: #fff;
  font-size: 1em;
  position: absolute;
  margin-top: -47px;
  opacity: 0;
  left: 0;
  transition: all 0.1s ease-in;
}
.login input:focus {
  outline: none;
  font-size: 16px;
  width: 80%;
  color: #000000;
  border-color: #F2921D;
  border-left-width: 25px;
}
.login input:focus + i.fa {
  opacity: 1;
  width: 80%;
  left: 10px;
  transition: all 0.25s ease-out;
}
.login a {
  font-size: 0.8em;
  width: 85%;
  color: #F2921D;
  text-decoration: none;
}
.button {
  width: 97%;
  padding: 10px 10px;
  background: #b80e0c;
  color: #fff;
  display: block;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5%;
  margin-bottom:5%;
  position: absolute;
  max-height: 60px;
  border-radius: 2px 2px 5px 40px;
}
