<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div class="card">
  <div id="logo">
  </div>
  <div id="header">
    <h2>BIBLIOTECA MUNICIPAL</h2>
    <h2>INICIO SE SESIÓN</h2>
  </div>
  <div id="body">
    <h3>INGRESE LAS CREDENCIALES</h3>
    <form>
      <mat-form-field appearance="outline">
        <mat-label>USUARIO:</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>CLAVE:</mat-label>
        <input matInput>
      </mat-form-field>
      <button style="margin-bottom: 1%; color: white" mat-flat-button color="warn">
        INGRESAR
      </button>
    </form>
  </div>
</div>
</body>
</html>
