<section>
    
    <mat-card>
        <div class="container-fluid" style="padding: 55px;" class="card">


            <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
                {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
            </button>

            <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>

                <!-- OPCION 1-->
                <mat-step [stepControl]="firstFormGroup">
                    <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>OBJETIVOS</ng-template>

                        <strong>1.1 General:</strong>
                        <br>
                        <strong> 1.1.1 </strong>
                        Inculcar y fomentar en la comunidad el hábito y el placer de la lectura, el aprendizaje, la
                        investigación y la utilización de las bibliotecas a lo largo de toda su vida.



                        <div class="example-button-row">
                            <div class="example-flex-container">
                                <div class="example-button-container">
                                    <button mat-button matStepperNext mat-mini-fab color="primary"
                                        style="background-color: #0c3255; color:#FFFFFF;">
                                        <mat-icon>forward</mat-icon>
                                    </button>
                                </div>
                            </div>


                        </div>

                    </form>
                </mat-step>

                <!-- OPCION 2-->
                <mat-step [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>ACTIVIDADES REALIZADAS</ng-template>

                        <div class="center-content">


                            <mat-card class="card21">



                                <div>

                                    <h3><strong>DESCRIPCIÓN DE ACTIVIDADES:</strong></h3>
                                    <h4>Las labores desempeñadas en la Biblioteca Municipal de El Valle durante el mes
                                        de mayo consisten en:
                                    </h4>
                                    <br>
                                    <mat-form-field class="example-full-width" appearance="fill" style="width: 40%;">
                                        <mat-label>Ingrese Actividad</mat-label>
                                        <input matInput placeholder="Promocionar la mediación lectora...">
                                    </mat-form-field>



                                    <button mat-mini-fab color="primary"
                                        style="background-color: #ecb435; color:#FFFFFF;">
                                        <mat-icon>library_add</mat-icon>
                                    </button>

                                    <br>
                                    <br>


                                    <body>
                                        <div style="text-align:center;">
                                            <table class="tabla-recursos" style=" width: 90%;">

                                                <thead>
                                                    <tr>

                                                        <th colspan="2">Estrategia</th>

                                                    </tr>
                                                </thead>



                                                <tr style="text-align: center;">

                                                    <td>Se promociona taller recreativo con adultos mayores</td>
                                                    <td> <button mat-mini-fab color="primary"
                                                            style="background-color: #a01b20; color:#FFFFFF;">
                                                            <mat-icon>delete</mat-icon>
                                                        </button></td>
                                                </tr>

                                                <tr style="text-align: center;">

                                                    <td>Se prepara material para realizar actividad con adultos mayores

                                                    </td>
                                                    <td> <button mat-mini-fab color="primary"
                                                            style="background-color: #a01b20; color:#FFFFFF;">
                                                            <mat-icon>delete</mat-icon>
                                                        </button></td>
                                                </tr>


                                            </table>


                                            <br>

                                        </div>
                                    </body>

                                </div>


                            </mat-card>

                        </div>
                    </form>


                    <div class="example-button-row">

                        <button mat-button matStepperPrevious mat-mini-fab color="primary"
                            style="background-color: #a01b20; color:#FFFFFF;">
                            <mat-icon>reply</mat-icon>
                        </button>
                        <button mat-button matStepperNext mat-mini-fab color="primary">
                            <mat-icon>forward</mat-icon>
                        </button>

                    </div>




                </mat-step>

                <!-- OPCION 3-->

                <mat-step [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>PLANEAMIENTO Y REALIZACIÓN DE LAS ACTIVIDADES</ng-template>



                        <div class="center-content">


                            <mat-card class="card21">



                                <div>

                                    <h3><strong>3.1 Recursos: </strong> </h3>
                                    <h4> (con que)</h4>
                                    <br>
                                    <mat-form-field class="example-full-width" appearance="fill" style="width: 40%;">
                                        <mat-label>Ingrese recurso</mat-label>
                                        <input matInput placeholder="Ex. Computadora">
                                    </mat-form-field>



                                    <button mat-mini-fab color="primary"
                                        style="background-color: #ecb435; color:#FFFFFF;">
                                        <mat-icon>library_add</mat-icon>
                                    </button>

                                    <br>
                                    <br>


                                    <body>
                                        <div style="text-align:center;">
                                            <table class="tabla-recursos">

                                                <thead>
                                                    <tr>

                                                        <th colspan="2">Recurso</th>

                                                    </tr>
                                                </thead>



                                                <tr style="text-align: center;">

                                                    <td>Computadorasasa</td>
                                                    <td> <button mat-mini-fab color="primary"
                                                            style="background-color: #a01b20; color:#FFFFFF;">
                                                            <mat-icon>delete</mat-icon>
                                                        </button></td>
                                                </tr>

                                                <tr style="text-align: center;">

                                                    <td>Computad</td>
                                                    <td> <button mat-mini-fab color="primary"
                                                            style="background-color: #a01b20; color:#FFFFFF;">
                                                            <mat-icon>delete</mat-icon>
                                                        </button></td>
                                                </tr>


                                            </table>


                                            <br>

                                        </div>
                                    </body>

                                </div>


                            </mat-card>

                        </div>



                        <div class="center-content">


                            <mat-card class="card21">



                                <div>

                                    <h3><strong>3.2 Estrategias:</strong></h3>
                                    <h4>(como)</h4>
                                    <br>
                                    <mat-form-field class="example-full-width" appearance="fill" style="width: 40%;">
                                        <mat-label>Ingrese Estrategia</mat-label>
                                        <input matInput placeholder="Promocionar  la participación de">
                                    </mat-form-field>



                                    <button mat-mini-fab color="primary"
                                        style="background-color: #ecb435; color:#FFFFFF;">
                                        <mat-icon>library_add</mat-icon>
                                    </button>

                                    <br>
                                    <br>


                                    <body>
                                        <div style="text-align:center;">
                                            <table class="tabla-recursos" style=" width: 90%;">

                                                <thead>
                                                    <tr>

                                                        <th colspan="2">Estrategia</th>

                                                    </tr>
                                                </thead>



                                                <tr style="text-align: center;">

                                                    <td>Promocionar la participación de los niños y niñas de 5 a 13 años
                                                        en las mediaciones lectoras</td>
                                                    <td> <button mat-mini-fab color="primary"
                                                            style="background-color: #a01b20; color:#FFFFFF;">
                                                            <mat-icon>delete</mat-icon>
                                                        </button></td>
                                                </tr>

                                                <tr style="text-align: center;">

                                                    <td>Coordinar con el Centro de Salud de El Valle actividades con el
                                                        club de crónicos diabéticos e hipertensos
                                                    </td>
                                                    <td> <button mat-mini-fab color="primary"
                                                            style="background-color: #a01b20; color:#FFFFFF;">
                                                            <mat-icon>delete</mat-icon>
                                                        </button></td>
                                                </tr>


                                            </table>


                                            <br>

                                        </div>
                                    </body>

                                </div>


                            </mat-card>

                        </div>


                    </form>


                    <div class="example-button-row">

                        <button mat-button matStepperPrevious style="background-color: #a01b20; color:#FFFFFF;">
                            <mat-icon>reply</mat-icon>REGRESAR
                        </button>
                        <button mat-button matStepperNext mat-flat-button
                            style="background-color: #ecb435; color:#FFFFFF;">SIGUIENTE <mat-icon>forward
                            </mat-icon></button>
                    </div>


                </mat-step>





                <!-- OPCION 4-->
                <mat-step [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>RESUMEN DE BENEFICIARIOS</ng-template>

                        <div class="center-content">
                            <mat-card class="card21">
                                <mat-list>
                                    <mat-list-item>Se beneficiaron 33 Usuarios quienes hicieron uso del repositorio.
                                    </mat-list-item>
                                    <mat-divider></mat-divider>
                                    <mat-list-item>Dato</mat-list-item>
                                    <mat-divider></mat-divider>
                                    <mat-list-item>Dato</mat-list-item>
                                </mat-list>
                            </mat-card>
                        </div>



                    </form>

                    <div class="example-button-row">

                        <button mat-button matStepperPrevious style="background-color: #a01b20; color:#FFFFFF;">REGRESAR
                        </button>
                        <button mat-button matStepperNext mat-flat-button color="primary">SIGUIENTE </button>
                    </div>



                </mat-step>

                <!-- OPCION 5-->
                <mat-step [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>NECESIDADES Y SUGERENCIAS DE LA BIBLIOTECA
                        </ng-template>


                        <div class="center-content">


                            <mat-card class="card21">



                                <div>


                                    <h4> Las necesidades de la biblioteca son:</h4>
                                    <br>
                                    <mat-form-field class="example-full-width" appearance="fill" style="width: 40%;">
                                        <mat-label>Ingrese Necesidad</mat-label>
                                        <input matInput placeholder="Ex. Técnico para el mantenimiento...">
                                    </mat-form-field>



                                    <button mat-mini-fab color="primary"
                                        style="background-color: #ecb435; color:#FFFFFF;">
                                        <mat-icon>library_add</mat-icon>
                                    </button>

                                    <br>
                                    <br>


                                    <body>
                                        <div style="text-align:center;">
                                            <table class="tabla-recursos">

                                                <thead>
                                                    <tr>

                                                        <th colspan="2">Necesidades</th>

                                                    </tr>
                                                </thead>



                                                <tr style="text-align: center;">

                                                    <td>Técnico para el mantenimiento de las computadoras
                                                    </td>
                                                    <td> <button mat-mini-fab color="primary"
                                                            style="background-color: #a01b20; color:#FFFFFF;">
                                                            <mat-icon>delete</mat-icon>
                                                        </button></td>
                                                </tr>

                                                <tr style="text-align: center;">

                                                    <td>Dato Información</td>
                                                    <td> <button mat-mini-fab color="primary"
                                                            style="background-color: #a01b20; color:#FFFFFF;">
                                                            <mat-icon>delete</mat-icon>
                                                        </button></td>
                                                </tr>


                                            </table>


                                            <br>

                                        </div>
                                    </body>

                                </div>


                            </mat-card>

                        </div>

                    </form>
                    <div class="example-button-row">

                        <button mat-button matStepperPrevious style="background-color: #a01b20; color:#FFFFFF;">
                            <mat-icon>reply</mat-icon>
                        </button>
                        <button mat-button matStepperNext mat-flat-button color="primary">
                            <mat-icon>forward</mat-icon>
                        </button>
                    </div>

                </mat-step>

                <!-- OPCION 6-->
                <mat-step [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>RESULTADOS</ng-template>

                        <div class="center-content">


                            <mat-card class="card21">



                                <div>


                                    <h4> Las resultados  de la biblioteca son:</h4>
                                    <br>
                                    <mat-form-field class="example-full-width" appearance="fill" style="width: 40%;">
                                        <mat-label>Ingrese resultado</mat-label>
                                        <input matInput placeholder="Ex. Voluntad y compromiso de...">
                                    </mat-form-field>



                                    <button mat-mini-fab color="primary"
                                        style="background-color: #ecb435; color:#FFFFFF;">
                                        <mat-icon>library_add</mat-icon>
                                    </button>

                                    <br>
                                    <br>


                                    <body>
                                        <div style="text-align:center;">
                                            <table class="tabla-recursos">

                                                <thead>
                                                    <tr>

                                                        <th colspan="2">Resultados</th>

                                                    </tr>
                                                </thead>



                                                <tr style="text-align: center;">

                                                    <td>Técnico para el mantenimiento de las computadoras
                                                    </td>
                                                    <td> <button mat-mini-fab color="primary"
                                                            style="background-color: #a01b20; color:#FFFFFF;">
                                                            <mat-icon>delete</mat-icon>
                                                        </button></td>
                                                </tr>

                                                <tr style="text-align: center;">

                                                    <td>Dato Información</td>
                                                    <td> <button mat-mini-fab color="primary"
                                                            style="background-color: #a01b20; color:#FFFFFF;">
                                                            <mat-icon>delete</mat-icon>
                                                        </button></td>
                                                </tr>


                                            </table>


                                            <br>

                                        </div>
                                    </body>

                                </div>


                            </mat-card>

                        </div>
                        
                    </form>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>

                </mat-step>

                <!-- OPCION 7-->
                <mat-step [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>CONCLUSIONES</ng-template>

                        <mat-card>
                            <mat-form-field class="example-full-width" appearance="fill" style="width: 50%;">
                                <mat-label>Conclusion</mat-label>
                                <textarea matInput
                                    placeholder="Ex. Durante este mes se han realizado actividades de..."></textarea>
                            </mat-form-field>
                        </mat-card>

                    </form>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>

                </mat-step>

                <!-- OPCION 8-->
                <mat-step [stepControl]="secondFormGroup">
                    <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>ANEXOS Y VERIFICABLES
                        </ng-template>

                    </form>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>

                </mat-step>



                <!-- OPCION FINAL GUARDAR-->
                <mat-step>
                    <ng-template matStepLabel>GENERAR INFORME</ng-template>
                    <p>You are now done.</p>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                    </div>
                </mat-step>






            </mat-stepper>
        </div>
    </mat-card>
</section>>