<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <div style="text-align: center;">
      <img class="logo" src="/assets/images/programmer.png">
      <br><br>
    </div>
    <mat-divider></mat-divider>
    <div>
      <h3 style="text-align: center;">Rosita Astudillo</h3>
      <p style="text-align: center;">Bibliotecaria</p>
      <p style="text-align: center;">0105345490</p>
      <mat-divider></mat-divider>
      <button mat-button class="button-accordion" routerLink="/registro-empresa">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-button class="button-accordion" [routerLink]="'/panel/biblioteca/nuevocliente'">
        <mat-icon>perm_identity</mat-icon>
        <span>Clientes</span>
      </button>
      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>business</mat-icon>
              <span>Mi Espacio</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <button mat-button class="button-accordion" [routerLink]="'/panel/biblioteca/nuevousuario'">
            <mat-icon>add</mat-icon>
            <span>Nuevo Bibliotecario</span>
          </button>
          <button mat-button class="button-accordion" [routerLink]="'/panel/biblioteca/curso'">
            <mat-icon>add</mat-icon>
            <span>Curso</span>
          </button>
          <button mat-button class="button-accordion" [routerLink]="'/panel/biblioteca/taller'">
            <mat-icon>add</mat-icon>
            <span>Taller</span>
          </button>
        </mat-expansion-panel>
      </mat-accordion>

      <!--ESTADISTICAS-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>insert_chart_outlined</mat-icon>
            <span>Estadisticas</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-button class="button-accordion" [routerLink]="'/panel/biblioteca/usuarios_por_edad'">
          <mat-icon>add</mat-icon>
          <span>Por Edad</span>
        </button>
        <button mat-button class="button-accordion" [routerLink]="'/panel/biblioteca/usuarios_por_servicio'">
          <mat-icon>add</mat-icon>
          <span>Por Servicio</span>
        </button>
        <button mat-button class="button-accordion" [routerLink]="'/panel/biblioteca/usuarios_por_genero'">
          <mat-icon>add</mat-icon>
          <span>Por Género</span>
        </button>
        <button mat-button class="button-accordion" [routerLink]="'/panel/biblioteca/usuarios_por_discapacidad'">
          <mat-icon>add</mat-icon>
          <span>Por Discapidad</span>
        </button>
      </mat-expansion-panel>
      <!--FIN ESTADISTICAS-->

      <!--CONSULATAS-->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>dvr</mat-icon>
            <span>Consultas</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-button class="button-accordion" [routerLink]="'/panel/biblioteca/trasformaciones'">
          <mat-icon>add</mat-icon>
          <span>Descargar</span>
        </button>
      </mat-expansion-panel>
      <!--FIN ESTADISTICAS-->

      <button mat-button class="button-accordion" [routerLink]="'/panel/biblioteca/informe-mensual'">
        <mat-icon>add</mat-icon>
        <span>Informe Mensual</span>
      </button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="logout()">
        <mat-icon>login</mat-icon>
        <span>Cerrar Sesion</span>
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
</body>


</html>
