<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened><h3>CONTEDIDO</h3></mat-drawer>
  <mat-drawer-content><h3>CUERPO</h3></mat-drawer-content>
</mat-drawer-container>
</body>
</html>

<h2>assa</h2>