<section>
  <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel><div align="center" style="font-size: large">
          <p class="title">Registro de Talleres</p>
        </div></ng-template>

        <mat-card class="example-card">
          <mat-card-content>
            <br>
            <table style="width: 100%">
              <tr aria-colspan="4">
                <td colspan="1">
                  <strong>Nombre del taller: </strong>
                </td>
                <td colspan="2" class="txt">
                  <input matInput formControlName="nombretaller"  required [(ngModel)]="taller.nombre" autofocus>
                </td>
                <td colspan="1">
                  <b class="validacion"  *ngIf="firstFormGroup.get('nombretaller').hasError('required')">*Requerido</b>
                </td>
              </tr>
              <tr aria-colspan="4">
                <td colspan="1">
                  <strong>Nombre del Responsable: </strong>
                </td>
                <td colspan="2" class="txt">
                  <input matInput formControlName="responsable"  required [(ngModel)]="taller.responsable" autofocus>
                </td>
                <td colspan="1">
                  <b class="validacion"  *ngIf="firstFormGroup.get('responsable').hasError('required')">*Requerido</b>
                </td>
              </tr>
              <tr aria-colspan="3">
                <td colspan="1">
                  <strong>Establezca un periodo de tiempo: </strong>
                </td>
                <td colspan="2">
                  <mat-form-field appearance="outline" style="width: 92%;border: 1px solid  #ff9e2c">
                    <mat-date-range-input [rangePicker]="picker">
                      <input matStartDate formControlName="inicio" placeholder="fecha de inicio" [(ngModel)]="taller.fechaInicio">
                      <input matEndDate formControlName="fin" placeholder="fecha finalizacion" [(ngModel)]="taller.fechaFin">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  </mat-form-field>
                </td>
                <td colspan="1">

                </td>
              </tr>

            </table>


          </mat-card-content>
          <div align="end">
            <button style="width: 50%;margin-right: 5%" mat-raised-button matStepperNext color="primary">Siguiente	<mat-icon>expand_more</mat-icon></button>
          </div>
        </mat-card>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel><div align="center" style="font-size: large">
        <p class="title">Verificar Informacion</p>
      </div></ng-template>
      <mat-card class="example-card">
        <mat-card-content>
          <mat-divider></mat-divider>
          <div align="center">
            <table>
              <th style="padding: 5px">
                <strong>INFORMACIÓN DEL TALLER</strong>
              </th>

              <tr>
                <td style="padding: 5px">
                  <strong>Nombre: </strong>{{taller.nombre}}<br>
                  <strong>Representante:</strong>{{taller.responsable}}<br>
                  <strong>Periodo de Duracion: </strong>{{taller.fechaInicio | date:"longDate"}}-{{taller.fechaFin | date:"longDate"}}<br>
                </td>

              </tr>
            </table>
          </div>

        </mat-card-content>
        <div align="center">
        </div>
      </mat-card>
    </mat-step>
  </mat-stepper>
</section>
