<section>
  <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel><div align="center" style="font-size: large">
          <p class="title">Registro de Nuevo Usuarios</p>
        </div></ng-template>

        <mat-card class="example-card">
          <mat-card-content>
            <br>
            <table style="width: 100%">
              <tr aria-colspan="6">
                <td colspan="1">
                  <strong>Cedula: </strong>
                </td>
                <td colspan="2" class="txt">
                  <input matInput formControlName="cedula" placeholder="Cedula"  (keypress)="omit_special_char($event)" (keypress)="omit_max_char($event)" required [(ngModel)]="personausuario.cedula" autofocus>
                </td>
                <td colspan="1">
                  <strong>Nombres: </strong>
                </td>
                <td colspan="2" class="txt">
                  <input matInput formControlName="nombres" placeholder="Nombres" required [(ngModel)]="personausuario.nombres" autofocus>
                </td>

              </tr>
              <tr aria-colspan="6">
                <td colspan="1">
                  <strong>Apellidos: </strong>
                </td>
                <td colspan="2" class="txt">
                  <input matInput formControlName="apellidos" placeholder="Apellidos" required [(ngModel)]="personausuario.apellidos" autofocus>
                </td>
                <td colspan="1">
                  <strong>Fecha de Nacimiento: </strong>
                </td>
                <td colspan="2">
                  <mat-form-field appearance="outline">
                    <input matInput formControlName="fechanacimiento" [matDatepicker]="picker" [(ngModel)]="personausuario.fechaNacimiento">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                 </td>
              </tr>

              <tr aria-colspan="6">
                <td colspan="1">
                  <strong>Edad: </strong>
                </td>
                <td colspan="2" class="txt">
                  <input matInput type="number" min="1" max="100" formControlName="edad" placeholder="Edad" required [(ngModel)]="personausuario.edad" autofocus>
                </td>
                <td colspan="1">
                  <strong>Genero: </strong>
                </td>
                <td colspan="2">
                   <mat-radio-group aria-label="Select an option" formControlName="genero" [(ngModel)]="personausuario.genero">
                    <mat-radio-button value="masculino">Masculino</mat-radio-button>
                    <mat-radio-button value="femenino">Femenino</mat-radio-button>
                  </mat-radio-group>
                </td>
              </tr>

              <tr aria-colspan="6">
                <td colspan="1">
                  <strong>Telefono: </strong>
                </td>
                <td colspan="2" class="txt">
                  <input matInput formControlName="telefono" placeholder="telefono"  (keypress)="omit_special_char($event)" (keypress)="omit_max_char($event)" required [(ngModel)]="personausuario.telefono" autofocus>
                </td>
                <td colspan="1">
                  <strong></strong>
                </td>
                <td colspan="2" >
                      </td>
              </tr>

              <tr aria-colspan="6">
                <td colspan="1">
                  <strong>E-mail: </strong>
                </td>
                <td colspan="2" class="txt">
                  <input matInput  type="email" formControlName="email" placeholder="Email" required [(ngModel)]="personausuario.email" autofocus>
                </td>
                <td colspan="1">
                  <strong>Clave: </strong>
                </td>
                <td colspan="2" class="txt">
                  <input matInput type="password" formControlName="clave" placeholder="clave" required [(ngModel)]="personausuario.clave" autofocus>
                </td>
              </tr>
            </table>



          </mat-card-content>
          <div align="end">
            <button style="width: 50%;margin-right: 5%" mat-raised-button matStepperNext color="primary">Siguiente	<mat-icon>expand_more</mat-icon></button>
          </div>
        </mat-card>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel><div align="center" style="font-size: large">
        <p class="title">Verificar Informacion</p>
      </div></ng-template>
      <mat-card class="example-card">
        <mat-card-content>
          <mat-divider></mat-divider>
          <div align="center">
            <table>
              <th style="padding: 5px">
                <strong>INFORMACIÓN DEL NUEVO USUARIO</strong>
              </th>

              <tr>
                <td style="padding: 5px">
                  <strong>Cedula: </strong>{{personausuario.nombres}}<br>
                  <strong>Nombres/Apellidos: </strong>{{personausuario.nombres}} {{personausuario.apellidos}}<br>
                  <strong>Fecha de Nacimiento:</strong>{{personausuario.fechaNacimiento | date:"longDate"}}<br>
                  <strong>Edad: </strong>{{personausuario.edad}}<br>
                  <strong>Genero: </strong>{{personausuario.genero}}<br>
                  <strong>Telefono: </strong>{{personausuario.telefono}}<br>
                  <strong>Email: </strong>{{personausuario.email}}<br>
                </td>

              </tr>
            </table>

          </div>


        </mat-card-content>
        <div align="center">

          <button style="width: 45%" mat-raised-button matStepperPrevious color="accent">	<mat-icon>expand_less</mat-icon></button>
          <button style="width: 45%" mat-raised-button color="primary" (click)="registrar(personausuario)">Registrar Usuario<</button>

        </div>
      </mat-card>
    </mat-step>
  </mat-stepper>
</section>
