<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="primerForm">
    <form [formGroup]="primerForm">
      <ng-template matStepLabel><div align="center" style="font-size: large">
        <p class="title">Agregar Clientes a Cursos</p>
      </div></ng-template>
      <div align="center" style="font-size: large">
        <p class="title">Lista de Cursos</p>
      </div>

      <mat-card class="example-card">
        <mat-card-content>
          <mat-divider></mat-divider>
          <br>

          <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">

            <mat-selection-list #cc [multiple]="false" (selectionChange)="selectionCurso($event)" formControlName="firstCtrl" required>
              <mat-list-option *ngFor="let cc of cursos" [value]="cc" class="example-item">
                <div><strong>Nombre: </strong>{{cc.nombre}} <strong>- Responsable a cargo: </strong>  {{cc.responsable}}</div>
                <div><strong>Fecha de inicio: </strong>{{cc.fechaInicio |date:"dd-MM-yyyy"}}</div>
              </mat-list-option>
            </mat-selection-list>
          </cdk-virtual-scroll-viewport>


        </mat-card-content>
        <div align="end">
          <button style="width: 45%" mat-raised-button matStepperNext color="primary">	Siguiente <mat-icon>expand_more</mat-icon></button>
        </div>
      </mat-card>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">

    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel><div align="center" style="font-size: large">
        <p class="title">Seleccione el cliente a agregar al curso</p>
      </div></ng-template>
      <mat-card class="example-card">

        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Buscar: Por Numero de cedula/ Nombres Completos</mat-label>
          <input matInput  placeholder="FILTRAR" [formControl]="myControlClientes">
          <mat-icon matSuffix>search</mat-icon>

        </mat-form-field>

        <mat-divider></mat-divider>
        <mat-card-content>
          <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
            <mat-selection-list #cli [multiple]="false" (selectionChange)="seleccionclientes($event)"  required>
              <mat-list-option *ngFor="let cli of filteredOptionsclientes | async" [value]="cli"  class="example-item">
                <div><strong>CI.</strong> {{cli.cedula}} <strong> - Cliente:</strong> {{cli.nombres}} {{cli.apellidos}}</div>
              </mat-list-option>
            </mat-selection-list>
          </cdk-virtual-scroll-viewport>
          <br>
          <p>
            <strong>Seleccion> Cliente :</strong>{{personausuarioselect.nombres}} {{personausuarioselect.apellidos}}
          </p>
          <mat-divider></mat-divider>
          <br>

        </mat-card-content>
        <div align="center">
          <br>
          <button style="width: 45%" mat-raised-button matStepperPrevious color="accent">	<mat-icon>expand_less</mat-icon>Regresar</button>

          <button style="width: 45%" mat-raised-button color="primary" (click)="agregaralcurso()">Agregar cliente</button>
             </div>
      </mat-card>
    </form>
  </mat-step>

  <mat-card class="example-card">

  </mat-card>
</mat-stepper>
